
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

/* navbar jumbotron body and media queries */

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #660000;
    padding: 50px;
     
}

.navbar-toggler {
    background-color: #b30000;
    border: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}


.navbar-brand {
    font-family: "Orbitron", sans-serif;
    font-size: 35px !important;
    line-height: 3px !important;
}

@media (max-width: 400px) {
    .navbar-brand {
      font-size: 20px;       
    }

}

@media (max-width: 800px) {
      .index-header {
      padding-top: 20px;
    }

    .about-header {
      padding-top: 20px;
    }

    .next-box {
      margin: 0 auto;
    }

    .index-header {
      text-align: center;
    }

    .jumbotron {
      padding-top: 0;
    }
}



.nav-item {
    font-weight: bold;
    text-transform: uppercase;
 
}

body {
    color: #fff;
    background-color: #000000;
    padding-top: 150px;
    font-weight: 20px;   
}
.jumbotron {
    margin: 0;
    height: 100vh;
    background: url("../images/kizomba.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400x;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.next-box {
    background-color: rgba(175, 20, 20, 0.5);
    margin-left: 40px;
    margin-right: 40px;
}

.next-box h5 {
  padding-top: 20px;
  text-transform: uppercase;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0, 0, 0.5);
    z-index: 5;
}

.jumbotron-box {
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 50px;
    margin-right: 100px;
    margin-left: 100px;
    z-index: 6;
}

.jumbotron-header {
    color: #e60000;
}

.jumbotron p {
    color: #fafafa;
     
}

/* footer */

footer {
    background-color:#660000;
}

.social-links {
    text-align: center;
}

.footer-details {
    text-align: center;
    color: #fff;
}

.footer-details h5 {
    padding-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-details h6 {
    text-transform: uppercase;
}

.footer-details p {
    padding-left: 20px;
    padding-right: 20px;
}

hr {
    height: 2px;
    background-color: #000000;
}

.social-links {
    margin-top: 50px;
}

.social-links li a i {
    font-size: 30px;
    border-radius: 50%;
    width: 32px;
    height: 32;
    color: #fff;

}

.alert {
    background-color:#d2dc33;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    text-align: center;
}

/* section details */

.section-details {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000000;
}

.index-header {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
}
/* buttons */

.call-button {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
    background-color: #e60f0f;
    color: #fff;
}

/* contact form */

button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e60f0f;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.contact-heading {
   margin-top: 80px;
   text-transform: uppercase;
}

form input {
    line-height: 40px;
    background-color: fff;
    margin-bottom: 1em;
}

/* TABLE */

.center-table {
    margin-top: 60px;
    margin: 0 auto;
    color: #fff;
    margin-right: 40px;
}

.table {
    margin: 0 auto;
    margin-top: 40px;
    padding-right: 60px;
    padding-left: 40px;
    color: #fff;
    margin-bottom: 60px;
  }


.festival-header {
    text-align: center;
    padding-top: 60px;
    text-transform: uppercase;
    font-weight: bold;
}

/* about */

.about-body {
  padding-top: 80px;
  padding-bottom: 50px;
  padding-right: 40px;
  margin: 0 auto;
}

.about-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
}

/* gallery */

.gallery {
  margin-top: 20px;
}
